#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}
header{
  text-align:center;
}
a:hover{
  color:purple;
  text-decoration:underline;
}
header > a:clicked{
  color:hotpink;
}

a:hover{
  color:darkpurple;
}
.emailCard{
  height:250px;
  width:300px;
  
}
.BarChart{
  border:3px solid pink;
}
